@model IEnumerable<DBWebApp.ViewModels.MovieViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var movie in Model)
{
    <h1>@movie.Name</h1>
    <h5>Plataforma: @movie.Platform</h5>
    <h5>Ultima atualização em: @movie.Date.ToString()</h5>
}
